.row-head{
    background-image: url(../Images/hotel-bg.jpg);
    height:40vh;
    background-size: cover;
}

@media (min-width:700px){
.tagline-headimage{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:800;
    padding-top:20vh;
}
}
@media (max-width:699px){
    .tagline-headimage{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:800;
        padding-top:14vh;
    }
}
.text-container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
