.row-div{
        background-image: url(../Images/abt-bg.jpg);  
        height:50vh;
        }
    
    .column{
       display:flex;
    }
    .head-1, .head-3,.head-2{
        transform: rotate(45deg);
    }

@media (max-width:699px){
    .row-div{
        display: none;
    }
    .head-div{
        display: none;
    }
}
@media (min-width:767px) {
    .head-tagline{
        font-size:9vh;
    }
}
@media (max-width:766px) {
    .head-tagline{
        font-size:5vh;
    }
}

.image-1000{
    animation-name: image-1000-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

@keyframes image-1000-animation {
    0%{transform:scale(1.25)};
    20%{transform:scale(1.2)};
    40%{transform:scale(1.15)};
    60%{transform:scale(1.10)};
    80%{transform:scale(1.05)};
    100%{transform:scale(1.0)};
}
@media (max-width:1600px) {
    .image-text1000
    {
        color:rgb(113, 183, 240);
        text-shadow: 3px 3px 5px rgb(102, 99, 95);
        left:15vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: 800;
        position:absolute;
        top:5vh;
    }  
}
@media (max-width:991px)
{
    .image-text1000{
        left:5vw;
    }
}
@media (max-width:576px)
{
    .image-text1000{
        left:3vw;
    }
}

.about-container{
    background-image: url(../Images/abt-bgimg.jpg);
}
@media (min-width:1000px){
    .intro-person{
        padding-top:70px;
    }
}